<%- include('../partials/header') %>
<h1>Exercises</h1>
<a class="btn btn-secondary" href="/exercises/new">Add Exercise</a>
<ul>
    <% exercises.forEach((e) => { %>
    <div class="row">
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= e.exerciseName %></h5>
                    <p class="card-text"><%= e.description %></p>
                    <a href="/exercises/<%= e._id %>" class="btn btn-primary">Details</a>
                    <form action="/exercises/exercises/<%= e._id %>?_method=DELETE" class="delete-form" method="POST">
                        <button type="submit">Delete Exercise</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <% }) %>
</ul>
<%- include('../partials/footer') %>